In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from copy import copy
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False


# 데이터 로드
data = pd.read_csv('./data/직항_머신러닝.csv')
df = data.loc[data['partition_0']=='Japan']

In [5]:
df

,nights,departure_sdt,departure_jt,dep_week,arrival_sdt,arrival_jt,arr_week,agentcode,partition_0,partition_1,time_zone,baggagetype,total_fare
1459,4,2024-05-01 08:00:00.000,125,3,2024-05-05 10:35:00.000,125,7,INT005,Japan,FUK,Asia/Tokyo,F,309300
1460,4,2024-05-01 08:00:00.000,125,3,2024-05-05 16:25:00.000,130,7,INT005,Japan,FUK,Asia/Tokyo,F,375600
1461,4,2024-05-01 08:00:00.000,125,3,2024-05-05 21:05:00.000,130,7,INT005,Japan,FUK,Asia/Tokyo,F,406600
1462,4,2024-05-01 18:35:00.000,125,3,2024-05-05 10:35:00.000,125,7,INT005,Japan,FUK,Asia/Tokyo,F,269400
1463,4,2024-05-01 18:35:00.000,125,3,2024-05-05 16:25:00.000,130,7,INT005,Japan,FUK,Asia/Tokyo,F,335800
...,...,...,...,...,...,...,...,...,...,...,...,...,...
714787,4,2024-05-07 07:25:00.000,235,2,2024-05-11 13:25:00.000,220,6,VGT027,Japan,TYO,Asia/Tokyo,F,373100
714788,4,2024-05-07 07:25:00.000,235,2,2024-05-11 17:10:00.000,230,6,VGT027,Japan,TYO,Asia/Tokyo,F,373100
714789,4,2024-05-07 07:25:00.000,235,2,2024-05-11 10:20:00.000,240,6,VGT027,Japan,TYO,Asia/Tokyo,F,404200
714790,4,2024-05-07 07:25:00.000,235,2,2024-05-11 11:10:00.000,230,6,VGT027,Japan,TYO,Asia/Tokyo,F,382000
714791,4,2024-05-07 09:45:00.000,230,2,2024-05-11 10:20:00.000,240,6,VGT027,Japan,TYO,Asia/Tokyo,F,404200