In [1]:
# # 날짜 간 차이 계산
# df['next_date'] = df['date'] + pd.Timedelta(days=1)
# df['date_diff'] = df['next_date'] - df['date']

# print(df)

# # 시간대 설정 및 변환
# df['date_utc'] = df['date'].dt.tz_localize('UTC')
# df['date_kst'] = df['date_utc'].dt.tz_convert('Asia/Seoul')


# # 범주형 피처 인코딩
# df = pd.get_dummies(df, columns=['destination'], drop_first=True)

# # 피처와 타겟 분리
# X = df.drop(columns=['price'])
# y = df['price']

# # 비행시간 피처 포함 모델
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# model = RandomForestRegressor(n_estimators=100, random_state=42)
# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)
# print("MSE with flight_duration:", mean_squared_error(y_test, y_pred))

# # 비행시간 피처 제거 모델
# X = X.drop(columns=['flight_duration'])
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# model = RandomForestRegressor(n_estimators=100, random_state=42)
# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)
# print("MSE without flight_duration:", mean_squared_error(y_test, y_pred))

In [2]:
!pip install cudf cuml --extra-index-url=https://pypi.ngc.nvidia.com

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting cudf
  Downloading cudf-0.6.1.post1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting cuml
  Downloading cuml-0.6.1.post1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: cudf, cuml
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for cudf (setup.py) ... error
  ERROR: Failed building wheel for cudf
  Running setup.py clean for cudf
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for cuml (setup.py) ... error
  ERROR: Failed building wheel for cuml
  Running setup.py clean for cuml
Failed to build cudf cuml
ERROR: Could not build wheels for cudf, cuml, which is required to install pyproject.toml-based projects

In [3]:
from cuml.ensemble import RandomForestRegressor as cuRF

ModuleNotFoundError: No module named 'cuml'

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

import pandas as pd
import numpy as np

import warnings
warnings.simplefilter(action='ignore', category=pd.errors.SettingWithCopyWarning)

# 출발일로 부터 항공권 예매 시점(20240430)과의 날짜 차이 피처 추가 예정
now = pd.to_datetime("20240430", format='%Y%m%d')
print("Timestamp:", now)

Timestamp: 2024-04-30 00:00:00

In [26]:
try:
    from google.colab import drive
    drive.mount('/content/drive')
    df = pd.read_csv('/content/drive/MyDrive/직항_머신러닝.csv')
except:
    df = pd.read_csv('./data/직항_머신러닝.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
df.describe(include='all')

,nights,departure_sdt,departure_jt,dep_week,arrival_sdt,arrival_jt,arr_week,agentcode,partition_0,partition_1,time_zone,baggagetype,total_fare
count,714792.000000,714792,714792.000000,714792.000000,714792,714792.000000,714792.000000,714792,714792,714792,714792,658137,7.147920e+05
unique,NaN,5558,NaN,NaN,6590,NaN,NaN,26,9,77,47,3,NaN
top,NaN,2024-05-03 08:45:00.000,NaN,NaN,2024-05-16 10:35:00.000,NaN,NaN,WHY002,SouthEastAsia,KIX,Asia/Tokyo,F,NaN
freq,NaN,646,NaN,NaN,579,NaN,NaN,191022,282421,88759,260126,612483,NaN
mean,3.517860,NaN,351.139806,3.956662,NaN,350.508071,4.024907,NaN,NaN,NaN,NaN,NaN,6.580351e+05
std,1.692131,NaN,265.785353,1.934085,NaN,272.773675,2.004756,NaN,NaN,NaN,NaN,NaN,6.435439e+05
min,1.000000,NaN,105.000000,1.000000,NaN,110.000000,1.000000,NaN,NaN,NaN,NaN,NaN,1.126000e+05
25%,2.000000,NaN,150.000000,2.000000,NaN,150.000000,2.000000,NaN,NaN,NaN,NaN,NaN,3.319000e+05
50%,4.000000,NaN,235.000000,4.000000,NaN,240.000000,4.000000,NaN,NaN,NaN,NaN,NaN,4.869000e+05
75%,5.000000,NaN,445.000000,6.000000,NaN,440.000000,6.000000,NaN,NaN,NaN,NaN,NaN,6.894000e+05
max,6.000000,NaN,1505.000000,7.000000,NaN,1540.000000,7.000000,NaN,NaN,NaN,NaN,NaN,1.083420e+07

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714792 entries, 0 to 714791
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   nights         714792 non-null  int64
 1   departure_sdt  714792 non-null  object
 2   departure_jt   714792 non-null  int64
 3   dep_week       714792 non-null  int64
 4   arrival_sdt    714792 non-null  object
 5   arrival_jt     714792 non-null  int64
 6   arr_week       714792 non-null  int64
 7   agentcode      714792 non-null  object
 8   partition_0    714792 non-null  object
 9   partition_1    714792 non-null  object
 10  time_zone      714792 non-null  object
 11  baggagetype    658137 non-null  object
 12  total_fare     714792 non-null  int64
dtypes: int64(6), object(7)
memory usage: 70.9+ MB

In [29]:
# jt 비행시간 350은 03시간50분으로 230분으로 변환
df['departure_jt'] = df['departure_jt'].apply(lambda x : str(x).zfill(4)).apply(lambda x : int(x[:2])*60+int(x[2:]))
df['arrival_jt'] = df['arrival_jt'].apply(lambda x : str(x).zfill(4)).apply(lambda x : int(x[:2])*60+int(x[2:]))

df[['departure_jt','arrival_jt']].head()

   departure_jt  arrival_jt
0           230         230
1           225         215
2           225         220
3           225         215
4           225         220

In [30]:
# str to datetime 형식 변환
df['departure_sdt'] = pd.to_datetime(df['departure_sdt'])
df['arrival_sdt'] = pd.to_datetime(df['arrival_sdt'])

# 시간 분 추출
df['departure_hour'] = df['departure_sdt'].apply(lambda x: x.hour)
df['departure_minute'] = df['departure_sdt'].apply(lambda x: x.minute)
df['arrival_hour'] = df['arrival_sdt'].apply(lambda x: x.hour)
df['arrival_minute'] = df['arrival_sdt'].apply(lambda x: x.minute)

# 출발 도착 시 분 sin cos 변환
df['departure_hour_sin'] = np.sin(2 * np.pi * df['departure_hour'] / 24)
df['departure_hour_cos'] = np.cos(2 * np.pi * df['departure_hour'] / 24)
df['departure_minute_sin'] = np.sin(2 * np.pi * df['departure_minute'] / 60)
df['departure_minute_cos'] = np.cos(2 * np.pi * df['departure_minute'] / 60)

df['arrival_hour_sin'] = np.sin(2 * np.pi * df['arrival_hour'] / 24)
df['arrival_hour_cos'] = np.cos(2 * np.pi * df['arrival_hour'] / 24)
df['arrival_minute_sin'] = np.sin(2 * np.pi * df['arrival_minute'] / 60)
df['arrival_minute_cos'] = np.cos(2 * np.pi * df['arrival_minute'] / 60)

# 출발 도착 요일 sin cos 변환
df['dep_week_sin'] = np.sin(2 * np.pi * df['dep_week'] / 7)
df['dep_week_cos'] = np.cos(2 * np.pi * df['dep_week'] / 7)
df['arr_week_sin'] = np.sin(2 * np.pi * df['arr_week'] / 7)
df['arr_week_cos'] = np.cos(2 * np.pi * df['arr_week'] / 7)


drop_col = ['departure_sdt','arrival_sdt',
            'departure_hour','departure_minute','arrival_hour','arrival_minute',
            'dep_week', 'arr_week']
df.drop(columns=drop_col,inplace=True)

In [31]:
# departure_jt, arrival_jt 출발 복귀 비행시간
# 직항 항공권 기준 목적지 피처와 다중공산성 문제가 있다고 예상 drop 전후로 모델 학습 후 판단.
# 경유 항공권 또는 비행기 도착시 현지시간으로 변환 할 때 사용

# drop_jt = ['departure_jt', 'arrival_jt']
# df.drop(columns=drop_jt,inplace=True)

In [32]:
# agentcode
# 대행사 별 주력 여행지가 있는지 시각화 필요
# 대항사와 여행지의 상관관계가 크다면 다중공산성 의심
# 대행사와 항공권 가격의 상관관계 확인 필요
df['agentcode'].value_counts()

agentcode
WHY002    191022
INT005    132661
TOV025    126221
HDP010     36763
CTR013     33286
WEB001     29843
HAT004     21279
LTT017     20460
ONT003     19443
EDR215     16647
NIT015     15247
MOT007     14674
VGT027     11854
KRT006      9921
SKP206      8107
MRT023      6115
HDT028      5456
JTB016      5019
GTG204      4243
ATK201      3226
ACA107      1431
BGT202      1068
YEL009       659
ACI117       140
ACX111         6
ALH103         1
Name: count, dtype: int64

In [33]:
# baggagetype
# "P" 수화물 포함
# [F, C] 수화물 미포함
df['baggagetype'].value_counts()

baggagetype
F    612483
P     42185
C      3469
Name: count, dtype: int64

In [34]:
# 'C', Nan 값을 F로 치환
df['baggagetype'] = df['baggagetype'].apply(lambda x: 'F' if x == 'C' else x).fillna('F')
df['baggagetype'].value_counts(normalize=True)

baggagetype
F    0.940983
P    0.059017
Name: proportion, dtype: float64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714792 entries, 0 to 714791
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   nights                714792 non-null  int64
 1   departure_jt          714792 non-null  int64
 2   arrival_jt            714792 non-null  int64
 3   agentcode             714792 non-null  object
 4   partition_0           714792 non-null  object
 5   partition_1           714792 non-null  object
 6   time_zone             714792 non-null  object
 7   baggagetype           714792 non-null  object
 8   total_fare            714792 non-null  int64
 9   departure_hour_sin    714792 non-null  float64
 10  departure_hour_cos    714792 non-null  float64
 11  departure_minute_sin  714792 non-null  float64
 12  departure_minute_cos  714792 non-null  float64
 13  arrival_hour_sin      714792 non-null  float64
 14  arrival_hour_cos      714792 non-null  float64
 15  arrival_minute_sin    714792 non-null  float64
 16  arrival_minute_cos    714792 non-null  float64
 17  dep_week_sin          714792 non-null  float64
 18  dep_week_cos          714792 non-null  float64
 19  arr_week_sin          714792 non-null  float64
 20  arr_week_cos          714792 non-null  float64
dtypes: float64(12), int64(4), object(5)
memory usage: 114.5+ MB

In [36]:
df

,nights,departure_jt,arrival_jt,agentcode,partition_0,partition_1,time_zone,baggagetype,total_fare,departure_hour_sin,...,departure_minute_sin,departure_minute_cos,arrival_hour_sin,arrival_hour_cos,arrival_minute_sin,arrival_minute_cos,dep_week_sin,dep_week_cos,arr_week_sin,arr_week_cos
0,2,230,230,WHY002,SouthEastAsia,HKG,Asia/Hong_Kong,F,249700,-5.000000e-01,...,-1.0,-1.836970e-16,0.866025,-0.500000,-0.500000,8.660254e-01,-0.781831,0.623490,0.781831,0.62349
1,2,225,215,TOV025,SouthEastAsia,HKG,Asia/Hong_Kong,F,279600,1.224647e-16,...,-1.0,-1.836970e-16,0.965926,-0.258819,1.000000,2.832769e-16,-0.781831,0.623490,0.781831,0.62349
2,2,225,220,TOV025,SouthEastAsia,HKG,Asia/Hong_Kong,F,279600,1.224647e-16,...,-1.0,-1.836970e-16,0.500000,-0.866025,-0.866025,-5.000000e-01,-0.781831,0.623490,0.781831,0.62349
3,2,225,215,TOV025,SouthEastAsia,HKG,Asia/Hong_Kong,F,279600,-5.000000e-01,...,-0.5,-8.660254e-01,0.965926,-0.258819,1.000000,2.832769e-16,-0.781831,0.623490,0.781831,0.62349
4,2,225,220,TOV025,SouthEastAsia,HKG,Asia/Hong_Kong,F,279600,-5.000000e-01,...,-0.5,-8.660254e-01,0.500000,-0.866025,-0.866025,-5.000000e-01,-0.781831,0.623490,0.781831,0.62349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714787,4,155,140,VGT027,Japan,TYO,Asia/Tokyo,F,373100,9.659258e-01,...,0.5,-8.660254e-01,-0.258819,-0.965926,0.500000,-8.660254e-01,0.974928,-0.222521,-0.781831,0.62349
714788,4,155,150,VGT027,Japan,TYO,Asia/Tokyo,F,373100,9.659258e-01,...,0.5,-8.660254e-01,-0.965926,-0.258819,0.866025,5.000000e-01,0.974928,-0.222521,-0.781831,0.62349
714789,4,155,160,VGT027,Japan,TYO,Asia/Tokyo,F,404200,9.659258e-01,...,0.5,-8.660254e-01,0.500000,-0.866025,0.866025,-5.000000e-01,0.974928,-0.222521,-0.781831,0.62349
714790,4,155,150,VGT027,Japan,TYO,Asia/Tokyo,F,382000,9.659258e-01,...,0.5,-8.660254e-01,0.258819,-0.965926,0.866025,5.000000e-01,0.974928,-0.222521,-0.781831,0.62349
714791,4,150,160,VGT027,Japan,TYO,Asia/Tokyo,F,404200,7.071068e-01,...,-1.0,-1.836970e-16,0.500000,-0.866025,0.866025,-5.000000e-01,0.974928,-0.222521,-0.781831,0.62349

In [40]:
def optimize_dataframe(df):
    """
    데이터프레임의 dtype을 최소화하여 메모리를 최적화하는 함수.

    Parameters:
    df (pd.DataFrame): 최적화할 데이터프레임

    Returns:
    pd.DataFrame: 최적화된 데이터프레임
    """
    # 정수형 컬럼 최적화
    int_columns = df.select_dtypes(include=['int64']).columns
    for col in int_columns:
        if df[col].min() >= np.iinfo(np.int8).min and df[col].max() <= np.iinfo(np.int8).max:
            df[col] = df[col].astype(np.int8)
        elif df[col].min() >= np.iinfo(np.int16).min and df[col].max() <= np.iinfo(np.int16).max:
            df[col] = df[col].astype(np.int16)
        elif df[col].min() >= np.iinfo(np.int32).min and df[col].max() <= np.iinfo(np.int32).max:
            df[col] = df[col].astype(np.int32)
        else:
            df[col] = df[col].astype(np.int64)

    # 부동소수점 컬럼 최적화
    float_columns = df.select_dtypes(include=['float64']).columns
    for col in float_columns:
        df[col] = df[col].astype(np.float32)

    # 객체형 컬럼 최적화
    object_columns = df.select_dtypes(include=['object']).columns
    for col in object_columns:
        num_unique_values = len(df[col].unique())
        num_total_values = len(df[col])
        if num_unique_values / num_total_values < 0.5:
            df[col] = df[col].astype('category')

    return df
df = optimize_dataframe(df)

In [39]:
# 메모리 최적화로 메모리 1/3으로 감소
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714792 entries, 0 to 714791
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   nights                714792 non-null  int64
 1   departure_jt          714792 non-null  int64
 2   arrival_jt            714792 non-null  int64
 3   agentcode             714792 non-null  object
 4   partition_0           714792 non-null  object
 5   partition_1           714792 non-null  object
 6   time_zone             714792 non-null  object
 7   baggagetype           714792 non-null  object
 8   total_fare            714792 non-null  int64
 9   departure_hour_sin    714792 non-null  float64
 10  departure_hour_cos    714792 non-null  float64
 11  departure_minute_sin  714792 non-null  float64
 12  departure_minute_cos  714792 non-null  float64
 13  arrival_hour_sin      714792 non-null  float64
 14  arrival_hour_cos      714792 non-null  float64
 15  arrival_minute_sin    714792 non-null  float64
 16  arrival_minute_cos    714792 non-null  float64
 17  dep_week_sin          714792 non-null  float64
 18  dep_week_cos          714792 non-null  float64
 19  arr_week_sin          714792 non-null  float64
 20  arr_week_cos          714792 non-null  float64
dtypes: float64(12), int64(4), object(5)
memory usage: 114.5+ MB

In [41]:
# 사용하지 않을 컬럼 분리
# tz = df['time_zone']
# df = df.drop(columns=['time_zone'])

# 피처와 타겟 변수 분리
X = df.drop(columns=['total_fare'])
y = df['total_fare']

# 범주형 피처 식별
categorical_features = ['agentcode', 'partition_0', 'partition_1','time_zone' ,'baggagetype']

# 원-핫 인코딩 적용
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(), categorical_features)
    ],
    remainder='passthrough'  # 나머지 컬럼은 그대로 유지
)

# 데이터 인코딩 및 변환
X_encoded = preprocessor.fit_transform(X)

# 학습 데이터와 테스트 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [ ]:
# RandomForestRegressor 모델 학습
# 코랩 t4
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

In [ ]:
import joblib

model_path = '/content/drive/MyDrive/random_forest_model.joblib'
joblib.dump(model, model_path)
print(f"Model saved to {model_path}")

In [ ]:
# 예측 및 평가
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")